@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ModuleManagement.ViewField.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CVC.ModuleManagement.ViewFieldGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>