@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configuration.Department.EntityPlural");
}

<div id="GridDiv"></div>
<input type="hidden" id="hdnDepartmentImportAccess" />

<script type="text/javascript">
    $("#hdnDepartmentImportAccess").val('@ViewBag.IsModifyPermission')

    jQuery(function () {
        new CVC.Configuration.DepartmentGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>