@{
    ViewData["Title"] = Texts.Forms.Membership.ChangePassword.FormTitle;
    ViewData["PageId"] = "ChangePassword";
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

<script id="Template_Membership_ChangePasswordPanel" type="text/template">
    <div>
        <h3 class="page-title">@Texts.Forms.Membership.ChangePassword.FormTitle</h3>
        <form id="~_Form" action="">
            <div class="s-Form">
                <div class="fieldset ui-widget ui-widget-content ui-corner-all">
                    <div id="~_PropertyGrid"></div>
                    <div class="clear"></div>
                </div>
                <div class="buttons">
                    <button id="~_SubmitButton" type="submit" class="btn btn-primary">
                        @Texts.Forms.Membership.ChangePassword.SubmitButton
                    </button>
                    <button type="button" onclick="window.history.go(-1); return false;" class="btn btn-danger">
                        @Texts.Forms.Membership.ChangePassword.BackButton

                    </button>

                </div>
            </div>
        </form>
    </div>
</script>

<div class="page-content">
    <div id="ChangePasswordPanel">
    </div>
</div>


<script type="text/javascript">
    $(function () {
        new CVC.Membership.ChangePasswordPanel($('#ChangePasswordPanel')).init();
    });
    $(document).ready(function () {

        $("input[name='OldPassword'],input[name='NewPassword'],input[name='ConfirmPassword']").keyboard({
            usePreview: true,
            layout: 'custom',
            customLayout: {
                'normal': [
                    '` 1 2 3 4 5 6 7 8 9 0 - = {bksp}',
                    '{tab} q w e r t y u i o p [ ] \\',
                    'a s d f g h j k l ; \' {accept}',
                    '{shift} z x c v b n m , . / {shift}',
                    ' {space} {left} {right} {cancel}'
                ],
                'shift': [
                    '~ ! @@ # $ % ^ & * ( ) _ + {bksp}',
                    '{tab} Q W E R T Y U I O P { } |',
                    'A S D F G H J K L : " {accept}',
                    '{shift} Z X C V B N M < > ? {shift}',
                    ' {space} {left} {right} {cancel}'
                ]
            },

        })
    })
</script>