@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PackSettings.Label.EntityPlural");
}

<div id="GridDiv"></div>
<input type="hidden" id="hdnLabelImportAccess" />

<script type="text/javascript">
    $("#hdnLabelImportAccess").val('@ViewBag.IsModifyPermission')

    jQuery(function () {
        new CVC.PackSettings.LabelGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>