@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Batch.BatchLog.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CVC.Batch.BatchLogGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>