@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MachineCustomization.MachineHistory.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CVC.MachineCustomization.MachineHistoryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>