@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Report.UserLogArchive.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CVC.Report.UserLogArchiveGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>