@using CVC.Components
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MachineCustomization.DisplayObject.EntityPlural");
}

<div id="DisplayObject_GridDiv"></div>
<!-- added by Denis for RS 7.1 and RS 7.2 dated 10/6/2021 -->
<div id="DisplayObjectField_GridDiv"></div>
<!-- added by Denis for RS 6.8 dated 09/14/2023 -->
<div id="DisplayObject_Content"></div>

@Html.Hidden("DisplayObjectId", "", new { @id = "DisplayObjectId" })
@Html.Hidden("DisplayObjectType", "", new { @id = "DisplayObjectType" })
@Html.Hidden("DisplayObjectName", "", new { @id = "DisplayObjectName" })
@Html.Partial("~/Views/PartialViews/Design_PartialView.cshtml")

<script type="text/javascript">
    var efDataList = [];
    var undoStack = [];
    
    var efStr = "<div class='row' style='padding:1px;display:flex;padding-left:30px;padding-right:30px;'>" +
                               "<div ondragstart='dragEF(event);' draggable='true' class='col-xs-12 col-sm-12 col-md-12 col-lg-12' style='background-color: #50c72d; border-radius: 8px;display: flex;' machineId='xxId' columnName='xxColumn' pickListId='xxPickList'>" +
                               "xxName" +
                               "</div>" +
                               "</div>";
    jQuery(function () {
        new CVC.MachineCustomization.DisplayObjectGrid($('#DisplayObject_GridDiv'), {}).init();
        Q.initFullHeightGridPage($('#GridDiv'));
    });

    $(document).on('click', '.design-mode', function() {
        $("#modal-design").css({
            "padding-top" : '30px',
            "display" : 'flex',
            "justify-content" : 'center'
        });
        $("#modal-design").modal();
        $(`.workSpace`).empty();
        $("#idWorkSpace").attr('id', `WorkSpace_${$("#DisplayObjectId").val()}`);
        getMachineParametersFromDisplayObject($("#DisplayObjectId").val()).then(function(data){
            efDataList = data;
            console.log(efDataList);
            $("#efList").empty();
            for(var i = 0; i < efDataList.length; i++){
                $("#efList").append(efStr.replace('xxId', efDataList[i].MachineParameterId).replace('xxName', efDataList[i].ParameterName).replace('xxColumn', efDataList[i].ColumnName).replace('xxPickList', efDataList[i].PickListId));
            }            
        });
    });
</script>