@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Batch.LabelReconciliation.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CVC.Batch.LabelReconciliationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>