@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MachineCustomization.DisplayObjectField.EntityPlural");
}

<div id="GridDiv"></div>
<div id="Grid_Content_DisplayObject"></div>
<script type="text/javascript">
    jQuery(function () {
        new CVC.MachineCustomization.DisplayObjectFieldGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>