@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configuration.Currency.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CVC.Configuration.CurrencyGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>