<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=ITPL-TFS\ITPLDB; Initial Catalog=CVCDB; Integrated Security=False;user id=CVC;password=CVC" providerName="System.Data.SqlClient" />
    <add name="CVCEntities" connectionString="metadata=res://*/EDMX.CVCModel.csdl|res://*/EDMX.CVCModel.ssdl|res://*/EDMX.CVCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.4;initial catalog=CVC;user id=sa;password=P@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="ADConnectionString" connectionString="LDAP://10.0.0.9/DC=Intelgain,DC=in" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>