@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configuration.PickListValueRoleAccess.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CVC.Configuration.PickListValueRoleAccessGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>