@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configuration.PickList.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CVC.Configuration.PickListGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>