@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.ViewsAccess.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CVC.Administration.ViewsAccessGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>