@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MachineCustomization.LineMaintenanceSchedule.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CVC.MachineCustomization.LineMaintenanceScheduleGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>